/* start code */

/* primary font: 'Kanit' */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/* secondary font: 'Raleway' */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.App /* global style */ {
  height: 100%;
  width: 100%;
  position: absolute;
  background: #ffffff;
  font-family: 'Kanit', sans-serif;
  font-weight: bold;}

header {
  position: absolute;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  background: #000000;
  font-size: 6vmin;
  text-align: center;
  color: #ffffff;}

.Key-A, .Key-B, .Key-C, .Key-D, .Key-E, .Key-F, .Key-G, .Key-H {
  height: 8vmin;
  width: 8vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  background: #000000;}

.Key-A:hover {background: #e64343;}
.Key-B:hover {background: #e67b3d;}
.Key-C:hover {background: #e6cd60;}
.Key-D:hover {background: #53d34f;}
.Key-E:hover {background: #52cddd;}
.Key-F:hover {background: #4495ff;}
.Key-G:hover {background: #4c57f1;}
.Key-H:hover {background: #b157ec;}

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1;}

.Container {
  width: 75%;
  justify-content: center;}

.Tabs-Container {padding: 8vmin;}
.Tabs-Header {
  margin: 2vmin auto 0 auto;
  display: flex;
  justify-content: center;}

.Sample-Image {
  width: 95%;}

.Tabs-Container-Leaflet {padding: 8vmin;}
.Tabs-Header-Leaflet {
  position: absolute;
  width: 25%;
  margin: 2vmin auto 0 auto;
  left: 0;
  right: 0;
  z-index: 100;
  text-align: center;
  background: #ffffff;
  box-sizing: border-box;
  border: 1vmin solid #000000;}

#MapRender {
  position: absolute;
  top: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
}

.Default {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000000;
  font-weight: bolder;}

.Default-Logo {
  height: 24vmin;
  width: 24vmin;
  border: 1vmin solid #000000;
  border-radius: 50%;
  margin: 4vmin;
  animation: whoosh infinite 15s linear;}
@keyframes whoosh /* animation */ {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}}
.Default-Title {
  margin: 0;
  font-size: 8vmin;
  font-weight: bolder;}
.Default-Subtitle {
  margin: 0;
  font-size: 4vmin;
  font-weight: bolder;}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 2vmin 0; /* vertical padding adjustment */
  background: #000000;
  font-size: 2vmin;}

.Link-1, .Link-2, .Link-3 {
  margin: 0 0 0 2vmin;  /* horizontal margin only */
  text-decoration: none;
  color: #ffffff;}
.Link-4 {
  margin: 0 2vmin 0 auto;  /* horizontal margin only */
  text-decoration: none;
  color: #ffffff;}

.Link-1:hover, .Link-2:hover, .Link-3:hover, .Link-4:hover {color: #58c2ff;}

/* end code */